<footer>
  <div class="text-center pt-5">
    <a href="#" class="logo">
      MyResto
      <span>.</span>
    </a>

    <p class="m-0 py-3">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fuga eaque
      similique assumenda quod sed impedit.
    </p>

    <div class="d-flex align-items-center justify-content-center py-3"
      id="social_media_icons">
      <div>
        <a href="https://www.facebook.com/talentfactoryTAFA"
          target="_blank"
          class="text-white pe-3 fs-4">
          <i class="fa-brands fa-facebook medias_icons"></i>
        </a>
      </div>
      <div>
        <a href="https://twitter.com/P4Human"
          target="_blank"
          class="text-white px-3 fs-4">
          <i class="fa-brands fa-twitter medias_icons"></i>
        </a>
      </div>
      <div>
        <a href="https://www.instagram.com/tafa_talentfactory/"
          target="_blank"
          class="text-white px-3 fs-4">
          <i class="fa-brands fa-instagram medias_icons"></i>
        </a>
      </div>
      <div>
        <a href="#" target="_blank" class="text-white px-3 fs-4">
          <i class="fa-brands fa-skype medias_icons"></i>
        </a>
      </div>
      <div>
        <a href="https://www.linkedin.com/company/tafa-talent-factory/"
          target="_blank"
          class="text-white px-3 fs-4">
          <i class="fa-brands fa-linkedin medias_icons"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="container-fluid pt-5">
    <div class="row">
      <div class="text-center" id="copyright">
        <span>©Copyright | Lalaina - 2022-All Rights Reserved</span>
      </div>
    </div>
  </div>
</footer>
